{% load static %}
<footer id="footer"><!--Footer-->
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <div class="companyinfo">
                        <h2><span>My</span>-Store</h2>
                        <p></p>
                    </div>
                </div>
                <div class="col-sm-7">

                </div>
                <div class="col-sm-3">
                        <div class="single-widget">
                            <h2>Đăng ký nhận tin</h2>
                            <form action="#" class="searchform">
                                <input type="text" placeholder="Email của bạn!" />
                                <button type="submit" class="btn btn-default"><i class="fa fa-arrow-circle-o-right"></i></button>
                            </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <p class="pull-left">My Store</p>
                <p class="pull-right">Thiết kế <span><a target="_blank" href="/">Group Java</a></span></p>
            </div>
        </div>
    </div>
    
</footer><!--/Footer-->